
<section class="main">
    <div *ngIf="posts"> 
        <div *ngFor="let post of posts">
<div class="wrapper">
    <div class="left-col">
        

        <div class="post">
            <div class="info">
                <div class="user">
                    <div class="profile-pic"><img class="pfp" src="{{post.pfp}}" alt="Avatar"></div>
                    <a routerLink="/profile/{{post.author}}"><p class="username">{{post.author}}</p></a>
                </div>
                <img src="../assets/img/option.PNG" class="options" alt="">
            </div>
            <img (click)='postRedirect(post._id)'src="{{post.imgUrl}}" class="post-image" alt="">
            <div class="post-content">
                <div class="reaction-wrapper">
                    <img *ngIf="post.hasLiked; else elseBlock" src="../assets/img/like2.png" class="icon" alt="" (click)="removeLike(post._id, post.number)">
                    <ng-template #elseBlock><img src="../assets/img/like.PNG" class="icon" alt="" (click)="submitLike(post._id, post.number)"></ng-template>
                    <img src="../assets/img/comment.PNG" class="icon" alt="">
                    <img src="../assets/img/send.PNG" class="icon" alt="">
                    <img src="../assets/img/save.PNG" class="save icon" alt="">
                </div>
                <p class="likes">{{post.likes.length}} likes</p>
                <p class="description"><span>{{post.username}} </span> {{post.title}}</p>
                
            </div>
            <div class="comment-wrapper">
                <img src="../assets/img/smile.PNG" class="icon" alt="">
                <form #f = "ngForm" (ngSubmit)="submitComment(f.value, post._id)">
                    <input  name="comment" ngModel type="text" class="comment-box" placeholder="Add a comment">
                    <button type="submit" class="comment-btn">post</button>
                    </form>
            </div>
        </div>
        
    </div>
</div>
</div>
</div> 
</section>




    <br>
    <br>
    <br>
    <br>

    <div *ngIf="arePosts">Uh oh! No posts to see! Go follow some people!</div>
