<header>

	<div class="container">

		<div class="profile">

			<div class="profile-image">

				<img class="pfpImage" src="{{user.pfp}}" alt="">

			</div>

			<div class="profile-user-settings">

				<h1 class="profile-user-name">{{user.username}}</h1>

				<button *ngIf="isUser; else elseBlock" class="btn profile-edit-btn" routerLink="/edit">Edit Profile</button>
				<ng-template #elseBlock><button *ngIf="following; else elseBlock2"class="btn profile-edit-btn" (click)="unfollow(user._id)">Unfollow</button></ng-template>
				<ng-template #elseBlock2><button class="btn profile-edit-btn" (click)="follow(user._id)">Follow</button></ng-template>
				

				<button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>

			</div>

			<div class="profile-stats">

				<ul>
					<li><span class="profile-stat-count">{{posts.length}}</span> posts</li>
					<li><span class="profile-stat-count">{{user.followers.length}}</span> followers</li>
					<li><span class="profile-stat-count">{{user.following.length}}</span> following</li>
				</ul>

			</div>

			<div class="profile-bio">

				<p><span class="profile-real-name"></span> {{user.bio}}</p>

			</div>

		</div>
		<!-- End of profile section -->

	</div>
	<!-- End of container -->

</header>

<main>

	<div class="container">

		<div class="gallery">

			<div *ngFor="let post of posts" class="gallery-item" tabindex="0">

				<a routerLink="/details/{{post._id}}" ><img src="{{post.imgUrl}}" class="gallery-image" alt="">

				<div class="gallery-item-info">

					<ul>
						<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> {{post.likes.length}}</li>
						<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> {{post.comments.length}}</li>
					</ul>

				</div>
            </a>

			</div>
            
            

			

		</div>
		<!-- End of gallery -->

		

	</div>
	<!-- End of container -->

</main>






<ng-template #noUser>
    <div><p>Dang! Invalid username!</p></div>
   </ng-template>