<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Overpass+Mono" rel="stylesheet">


<form #login = "ngForm" (ngSubmit)="submitLoginData(login.value)">
<div id="wrapper">
  <div class="main-content">
    <div class="header">
      <img src="../assets/img/logo.png" />
    </div>
    <div class="l-part">
      <input type="text" name="email" ngModel placeholder="Email" class="input-1" />
      <div class="overlap-text">
        <input name="password" ngModel type="password" placeholder="Password" class="input-2" />
        
      </div>
      <input type="submit" value="Log in" class="btn" />
    </div>
  </div>
  <div class="sub-content">
    <div class="s-part">
      Don't have an account?<a routerLink="/register">Sign up</a>
    </div>
  </div>
</div>
</form>


