<br>
<br>
<br>



<main>
  <div class="page">
    <div class="header">
      <img src="../assets/img/logo.png" />
    </div>
      <div class="container">
        <form #f = "ngForm" (ngSubmit)="submitRegisterData(f.value)">
          <input type="text" name="email" ngModel placeholder="Email">
          <input type="text" name="username" ngModel placeholder="Username">
          <input type="password" name="password" ngModel placeholder="Password">
          <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
      
      </div>
  </div>
  <div class="option">
     <p>Have an account? <a routerLink="/login">Log in</a></p>
  </div>
  
</main>

