.pfpSmall {
    border-radius: 50%;
    height: 40px;
    width: 40px; 
}


.reaction-wrapper{
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: -20px;
    align-items: center;
}

.reaction-wrapper .icon{
    height: 25px;
    margin: 0;
    margin-right: 20px;
}

.reaction-wrapper .icon.save{
    margin-left: auto;
}

.comment-wrapper{
    width: 100%;
    height: 50px;
    border-radius: 1px solid #dfdfdf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.comment-wrapper .icon{
    height: 30px;
}


.allComments {
    border: 1px solid #dfdfdf;
    margin: 0px auto;
    width: 30%;
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    
    cursor: pointer;
    width: 428px;
    
}

.username {
    font-weight: bold;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
}